@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(179, 179, 179);
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-image: linear-gradient(to bottom, rgb(179, 179, 179), rgb(66, 65, 65));
    color: white;
    text-align: center;
    padding: 30px;
    padding-bottom: 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.562);
}

header h1 {
    font-size: 2.5em;
    padding-bottom: 30px;
}

menu ul {
    list-style: none;
}

menu li {
    display: inline-block;
    margin: 10px;
    text-align: left;
}   

a {
    padding: 2px;   
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(5, 5, 5);
    border-radius: 5px;
    background-color: white;
    transition-duration: 0.5s;
}

main {
    width: 80vw;
    background-color: white;
    margin: auto;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
}

article {
    padding: 20px;
    line-height: 2em;
}

article h1 {
    margin: 20px;
}

article pre {
    text-wrap: inherit;
}
